Repository nstockton/mud-protocols: changes, and which pre-commit hooks are due for each by the changed paths.
All: unittest, isort, tan, flake8, mypy, mkdocs, coverage

unittest:
  name: UnitTest
  args:
  - --failfast
  stages:
  - commit
  language: system
  entry: python -B -m coverage run -m unittest
  pass_filenames: false

isort:
  name: ISort
  stages:
  - commit
  language: system
  entry: python -B -m isort

tan:
  name: Tan
  stages:
  - commit
  language: system
  entry: python -B -m black

flake8:
  name: Flake8
  stages:
  - commit
  language: system
  entry: python -B -m pflake8

mypy:
  name: MyPy
  stages:
  - commit
  language: system
  entry: python -B -m mypy
  pass_filenames: false

mkdocs:
  name: MKDocs
  stages:
  - commit
  language: system
  entry: python -B -m mkdocs build --clean --strict
  pass_filenames: false

coverage:
  name: Coverage
  stages:
  - push
  language: system
  entry: python -B -m coverage report
  pass_filenames: false

Refactor the XML protocol to be a bit more resilient to future changes on the game side.
  src/mudproto/xml.py
  tests/mudproto/__init__.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Update dependencies.
  .pre-commit-config.yaml
  LICENSE.txt
  docs/license.md
  poetry.lock
  pyproject.toml
  requirements-poetry.in
  requirements-poetry.txt
Due: mkdocs

Update workflow.
  .github/workflows/main.yml
Due: none

Update workflow. Don't cache the virtual environment when building a binary release. Use Python 3.12 when building a binary release.
  .github/workflows/main.yml
Due: none

Add better workflow cache key.
  .github/workflows/main.yml
Due: none

Use keepends=True in str.splitlines where appropriate for readability.
  src/mudproto/xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

MUD Client Compression Protocol: fix possible corner case bug when negotiating MCCP on.
  src/mudproto/mccp.py
  tests/mudproto/test_mccp.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

MPI: Use the higher level subprocess.run instead of subprocess.Popen to run the editor and pager executables. Also use shutil.which to get the full path of the executables.
  src/mudproto/mpi.py
  tests/mudproto/test_mpi.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

XML Protocol: add some small readability changes.
  src/mudproto/xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add .editorconfig file.
  .editorconfig
Due: none

Remove use of Python2 style "new" classes.
  src/mudproto/manager.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Telnet Mixin classes always inherit directly from the interface, even when type checking.
  src/mudproto/charset.py
  src/mudproto/gmcp.py
  src/mudproto/mccp.py
  src/mudproto/naws.py
  src/mudproto/telnet.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Rename telnet.BaseTelnetProtocol to Telnet.TelnetInterface.
  src/mudproto/charset.py
  src/mudproto/gmcp.py
  src/mudproto/mccp.py
  src/mudproto/naws.py
  src/mudproto/telnet.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Some more refactoring.
  src/mudproto/base.py
  src/mudproto/manager.py
  src/mudproto/mpi.py
  src/mudproto/telnet.py
  src/mudproto/typedef.py
  src/mudproto/xml.py
  tests/mudproto/test_manager.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Require typing-extensions if Python < 3.11, not 3.10.
  poetry.lock
  pyproject.toml
Due: none

Use typedef.BytesOrStr instead of typing.AnyStr.
  src/mudproto/typedef.py
  src/mudproto/utils.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Move decodeBytes from mapperproxy-mume repository to here.
  src/mudproto/utils.py
  tests/mudproto/test_utils.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Convert XML tags to ASCII.
  src/mudproto/xml.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

According to the MUME help file for 'MPI', remote editing data is always sent/received encoded as Latin-1 with Unix style line endings.
  src/mudproto/mpi.py
  tests/mudproto/test_mpi.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

deduplicate the list of supported character sets from peer.
  src/mudproto/charset.py
  tests/mudproto/test_charset.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

When negotiating a new character set, verify that the value is a valid codec using codecs.lookup. Make CharsetMixIn.charset a read-only property which returns the current charset as a string.
  src/mudproto/charset.py
  tests/mudproto/test_charset.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add permissions to workflow.
  .github/workflows/main.yml
Due: none

Replace utility functions with Knickknacks repository.
  poetry.lock
  pyproject.toml
  src/mudproto/manager.py
  src/mudproto/telnet.py
  src/mudproto/telnet_constants.py
  src/mudproto/utils.py
  src/mudproto/xml.py
  tests/mudproto/test_mccp.py
  tests/mudproto/test_telnet.py
  tests/mudproto/test_utils.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Update Poetry
  poetry.lock
  pyproject.toml
  requirements-poetry.in
  requirements-poetry.txt
Due: none

Delete utils stuff from docs.
  docs/api/index.md
  docs/api/utils.md
  mkdocs.yml
Due: mkdocs

Switch back to using abstract base classes over type protocols.
  src/mudproto/base.py
  src/mudproto/manager.py
  src/mudproto/mpi.py
  src/mudproto/telnet.py
  src/mudproto/xml.py
  tests/mudproto/test_manager.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Rename mudproto.base -> mudproto.connection, and rename BaseConnectionInterface class -> ConnectionInterface.
  docs/api/base.md
  docs/api/connection.md
  docs/api/index.md
  mkdocs.yml
  src/mudproto/connection.py
  src/mudproto/manager.py
  src/mudproto/mpi.py
  src/mudproto/telnet.py
  src/mudproto/xml.py
  tests/mudproto/test_manager.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Use explicit OS version in workflow.
  .github/workflows/main.yml
Due: none

Replace Flake8 and Tan with Ruff.
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/mudproto/charset.py
  src/mudproto/gmcp.py
  src/mudproto/mccp.py
  src/mudproto/mpi.py
  src/mudproto/naws.py
  src/mudproto/telnet.py
  src/mudproto/telnet_constants.py
  src/mudproto/xml.py
  tests/mudproto/test_charset.py
  tests/mudproto/test_mpi.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add more linting rules to the Ruff linter.
  pyproject.toml
  src/mudproto/charset.py
  src/mudproto/gmcp.py
  src/mudproto/manager.py
  src/mudproto/mccp.py
  src/mudproto/mpi.py
  src/mudproto/naws.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add PyDocstring rules to Ruff.
  pyproject.toml
  src/mudproto/__init__.py
  src/mudproto/charset.py
  src/mudproto/connection.py
  src/mudproto/gmcp.py
  src/mudproto/manager.py
  src/mudproto/mccp.py
  src/mudproto/mpi.py
  src/mudproto/naws.py
  src/mudproto/telnet.py
  src/mudproto/typedef.py
  src/mudproto/xml.py
  tests/mudproto/test_gmcp.py
  tests/mudproto/test_mccp.py
  tests/mudproto/test_naws.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Refactor retrieving XML mode and Tintin replacements.
  src/mudproto/xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Drop support for Python 3.8.
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
Due: none

Bump version of Python used when creating releases.
  .github/workflows/main.yml
Due: none

Bump version of Ubuntu used by Github Actions.
  .github/workflows/main.yml
Due: none

Update Poetry dependency, and add Python 3.13 to workflow.
  .github/workflows/main.yml
  poetry.lock
  pyproject.toml
  requirements-poetry.in
  requirements-poetry.txt
Due: none

Change types in typedef.py for consistency.
  poetry.lock
  pyproject.toml
  src/mudproto/charset.py
  src/mudproto/connection.py
  src/mudproto/gmcp.py
  src/mudproto/manager.py
  src/mudproto/mccp.py
  src/mudproto/mpi.py
  src/mudproto/naws.py
  src/mudproto/telnet.py
  src/mudproto/typedef.py
  tests/mudproto/test_manager.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Fix file permissions.
  src/mudproto/__init__.py
  src/mudproto/charset.py
  src/mudproto/connection.py
  src/mudproto/gmcp.py
  src/mudproto/manager.py
  src/mudproto/mccp.py
  src/mudproto/mpi.py
  src/mudproto/naws.py
  src/mudproto/telnet.py
  src/mudproto/telnet_constants.py
  src/mudproto/typedef.py
  src/mudproto/xml.py
  tests/__init__.py
  tests/mudproto/__init__.py
  tests/mudproto/test_charset.py
  tests/mudproto/test_gmcp.py
  tests/mudproto/test_manager.py
  tests/mudproto/test_mccp.py
  tests/mudproto/test_mpi.py
  tests/mudproto/test_naws.py
  tests/mudproto/test_telnet.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Use knickknacks.typedef.Self
  poetry.lock
  pyproject.toml
  src/mudproto/naws.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add Python 3.13 to classifiers.
  pyproject.toml
Due: none

Path conditions:
  unittest: any of: \.py$
  isort: any of: \.py$
  tan: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  mkdocs: any of: \.(md|markdown|mdown)$, \.py$
  coverage: any of: \.py$
