Repository nstockton/mud-protocols: changes, and which pre-commit hooks are due for each by the changed paths.
All: unittest, isort, tan, flake8, mypy, mkdocs, coverage

.pre-commit-config.yaml:

# Apply to all files without commiting:
# python -B -m pre_commit run --all-files
# Update this file:
# python -B -m pre_commit autoupdate
exclude: '^$'
fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-case-conflict
        stages: [commit]
      - id: check-toml
        stages: [commit]
      - id: check-yaml
        stages: [commit]
      - id: fix-byte-order-marker
        stages: [commit]
      - id: name-tests-test
        args: ["--django"]
        stages: [commit]
      - id: requirements-txt-fixer
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
  - repo: local
    hooks:
      - id: unittest
        name: UnitTest
        args: ["--failfast"]
        stages: [commit]
        language: system
        entry: "python -B -m coverage run -m unittest"
        types: [python]
        pass_filenames: false
      - id: isort
        name: ISort
        stages: [commit]
        language: system
        entry: "python -B -m isort"
        types: [python]
      - id: tan
        name: Tan
        stages: [commit]
        language: system
        entry: "python -B -m black"
        types: [python]
      - id: flake8
        name: Flake8
        stages: [commit]
        language: system
        entry: "python -B -m pflake8"
        types: [python]
      - id: mypy
        name: MyPy
        stages: [commit]
        language: system
        entry: "python -B -m mypy"
        types: [python]
        pass_filenames: false
      - id: mkdocs
        name: MKDocs
        stages: [commit]
        language: system
        entry: "python -B -m mkdocs build --clean --strict"
        types_or: [markdown, python]
        pass_filenames: false
      - id: coverage
        name: Coverage
        stages: [push]
        language: system
        entry: "python -B -m coverage report"
        types: [python]
        pass_filenames: false

Change MKDocs pre-commit hook to manual as it is no longer supported in Python < 3.10.
  .pre-commit-config.yaml
Due: none

Update the MKDocs and MKDocStrings requirements.
  material_theme/partials/footer.html
  mkdocstrings_templates/python/material/attribute.html
  mkdocstrings_templates/python/material/attributes.html
  mkdocstrings_templates/python/material/children.html
  mkdocstrings_templates/python/material/class.html
  mkdocstrings_templates/python/material/docstring.html
  mkdocstrings_templates/python/material/function.html
  mkdocstrings_templates/python/material/keyword_args.html
  mkdocstrings_templates/python/material/method.html
  mkdocstrings_templates/python/material/module.html
  mkdocstrings_templates/python/material/parameters.html
  mkdocstrings_templates/python/material/return.html
  mkdocstrings_templates/python/material/signature.html
  mkdocstrings_templates/python/material/yield.html
  requirements-dev.txt
Due: none

Update workflow to test and build with Python 3.10.
  .github/workflows/main.yml
Due: none

Update for PEP 585 and PEP 604 style changes.
  mudproto/base.py
  mudproto/charset.py
  mudproto/manager.py
  mudproto/mccp.py
  mudproto/mpi.py
  mudproto/telnet.py
  mudproto/telnet_constants.py
  mudproto/utils.py
  mudproto/xml.py
  tests/mudproto/test_charset.py
  tests/mudproto/test_manager.py
  tests/mudproto/test_mccp.py
  tests/mudproto/test_mpi.py
  tests/mudproto/test_telnet.py
  tests/mudproto/test_utils.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Update Pipfile.
  Pipfile
Due: none

Add type hints for type aliases.
  mudproto/xml.py
  pyproject.toml
  requirements.txt
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Use Tan from PyPi as all issues have been fixed in upstream.
  requirements-dev.txt
Due: none

Apply changes from new version of Tan against source.
  mudproto/utils.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Revert use of PEP 604 style.
  mudproto/manager.py
  mudproto/telnet.py
  mudproto/utils.py
  mudproto/xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Use Poetry for builds.
  .gitattributes
  .github/workflows/main.yml
  MANIFEST.in
  Pipfile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup.cfg
  setup.py
  src/mudproto/__init__.py
  src/mudproto/base.py
  src/mudproto/charset.py
  src/mudproto/manager.py
  src/mudproto/mccp.py
  src/mudproto/mpi.py
  src/mudproto/py.typed
  src/mudproto/telnet.py
  src/mudproto/telnet_constants.py
  src/mudproto/utils.py
  src/mudproto/xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Fix version string for Poetry.
  pyproject.toml
Due: none

Add "--no-interaction" flag to Poetry when run in workflow.
  .github/workflows/main.yml
Due: none

Update workflow.
  .github/workflows/main.yml
Due: none

Update dependencies.
  poetry.lock
  pyproject.toml
Due: none

Update Poetry dependencies.
  .github/workflows/main.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  requirements-poetry.txt
Due: mkdocs

Type hint updates.
  pyproject.toml
  src/mudproto/charset.py
  src/mudproto/manager.py
  src/mudproto/mccp.py
  src/mudproto/mpi.py
  src/mudproto/telnet.py
  src/mudproto/xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add a new method to the Telnet protocol "on_optionEnabled", which gets called when an option has been fully enabled.
  src/mudproto/telnet.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add a link to the Iron Realms GMCP documentation to the telnet constants references as it contains useful information.
  src/mudproto/telnet_constants.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Fix some Telnet debug messages that were not outputting option descriptions.
  src/mudproto/telnet.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add some more logging for TelnetProtocol.
  src/mudproto/telnet.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Fix import of TypeAlias in XML Protocol.
  src/mudproto/xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add GMCP support.
  src/mudproto/gmcp.py
  tests/mudproto/test_gmcp.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Use type protocols instead of abstract base classes.
  src/mudproto/base.py
  src/mudproto/charset.py
  src/mudproto/gmcp.py
  src/mudproto/manager.py
  src/mudproto/mccp.py
  src/mudproto/telnet.py
  tests/mudproto/test_gmcp.py
  tests/mudproto/test_mccp.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

In MUME XML protocol, ignore 'status' tags.
  src/mudproto/xml.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Keep track of whether protocols are running as a client or as a server.
  src/mudproto/base.py
  src/mudproto/gmcp.py
  src/mudproto/manager.py
  tests/mudproto/test_charset.py
  tests/mudproto/test_gmcp.py
  tests/mudproto/test_manager.py
  tests/mudproto/test_mccp.py
  tests/mudproto/test_mpi.py
  tests/mudproto/test_telnet.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add the NAWS (Negotiate Window Size) protocol.
  src/mudproto/naws.py
  tests/mudproto/test_naws.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add Aardwolf 102 Telnet constants.
  src/mudproto/telnet_constants.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add some optimizations for MCCP.
  src/mudproto/mccp.py
  src/mudproto/telnet.py
  tests/mudproto/test_mccp.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Fix Python 3.7-3.9 support.
  tests/mudproto/test_naws.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Fix Python 3.8 and 3.9 erroneously reporting less than 100% coverage due to peephole optimization.
  src/mudproto/mccp.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Rename dimensions -> nawsDimensions.
  src/mudproto/naws.py
  tests/mudproto/test_naws.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Update dependencies and remove Python 3.7 support.
  .github/workflows/main.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  requirements-poetry.in
  requirements-poetry.txt
  src/mudproto/base.py
  src/mudproto/charset.py
  src/mudproto/gmcp.py
  src/mudproto/mccp.py
  src/mudproto/naws.py
  src/mudproto/telnet.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Update dependencies.
  .github/workflows/main.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-poetry.in
  requirements-poetry.txt
  src/mudproto/__init__.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Add some optimizations. Move type aliases into the typedef module. No longer use a callback for XML events. Instead the on_xmlEvent method of the XMLProtocol class should be overridden.
  src/mudproto/base.py
  src/mudproto/gmcp.py
  src/mudproto/manager.py
  src/mudproto/mpi.py
  src/mudproto/naws.py
  src/mudproto/telnet.py
  src/mudproto/typedef.py
  src/mudproto/utils.py
  src/mudproto/xml.py
  tests/mudproto/test_naws.py
  tests/mudproto/test_telnet.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Use Enums for the state of the state machines.
  src/mudproto/mpi.py
  src/mudproto/telnet.py
  src/mudproto/xml.py
  tests/mudproto/test_mpi.py
  tests/mudproto/test_telnet.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Raise ValueError when setting a NAWS value out of range.
  src/mudproto/naws.py
  tests/mudproto/test_naws.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Compare Enum members by identity, not equality. https://docs.python.org/3/howto/enum.html#comparisons
  src/mudproto/mpi.py
  src/mudproto/telnet.py
  src/mudproto/xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage

Fix sub-tags not being ignored.
  src/mudproto/xml.py
  tests/mudproto/test_xml.py
Due: unittest, isort, tan, flake8, mypy, mkdocs, coverage
